[submodule "42_common_core/ft_printf"]
	path = 42_common_core/ft_printf
	url = https://github.com
[submodule "42_common_core/get_next_line"]
	path = 42_common_core/get_next_line
	url = https://github.com
[submodule "42_common_core/libft"]
	path = 42_common_core/libft
	url = https://github.com
[submodule "piscine/bsq"]
	path = piscine/bsq
	url = https://github.com
[submodule "piscine/c00"]
	path = piscine/c00
	url = https://github.com
[submodule "piscine/c01"]
	path = piscine/c01
	url = https://github.com
[submodule "piscine/c02"]
	path = piscine/c02
	url = https://github.com
[submodule "piscine/c03"]
	path = piscine/c03
	url = https://github.com
[submodule "piscine/c04"]
	path = piscine/c04
	url = https://github.com
[submodule "piscine/c05"]
	path = piscine/c05
	url = https://github.com
[submodule "piscine/c06"]
	path = piscine/c06
	url = https://github.com
[submodule "piscine/c07"]
	path = piscine/c07
	url = https://github.com
[submodule "piscine/c08"]
	path = piscine/c08
	url = https://github.com
[submodule "piscine/c09"]
	path = piscine/c09
	url = https://github.com
[submodule "piscine/c10"]
	path = piscine/c10
	url = https://github.com
[submodule "piscine/c11"]
	path = piscine/c11
	url = https://github.com
[submodule "piscine/c12"]
	path = piscine/c12
	url = https://github.com
[submodule "piscine/c13"]
	path = piscine/c13
	url = https://github.com
[submodule "piscine/shell00"]
	path = piscine/shell00
	url = https://github.com
[submodule "piscine/shell01"]
	path = piscine/shell01
	url = https://github.com
[submodule "42_common_core/cub3d"]
	path = 42_common_core/cub3d
	url = https://github.com/Milsonyujiaoki/cub3d.git
[submodule "42_common_core/netpratice"]
	path = 42_common_core/netpratice
	url = https://github.com/Milsonyujiaoki/netpractice.git
[submodule "42_common_core/netpractice"]
	path = 42_common_core/netpractice
	url = https://github.com/Milsonyujiaoki/netpractice.git
[submodule "42_common_core/ft_transcendence"]
	path = 42_common_core/ft_transcendence
	url = https://github.com/Milsonyujiaoki/ft_trancendence.git
[submodule "42_common_core/inception"]
	path = 42_common_core/inception
	url = https://github.com/Milsonyujiaoki/inception.git
[submodule "42_common_core/miniRT"]
	path = 42_common_core/miniRT
	url = https://github.com/Milsonyujiaoki/miniRT.git
[submodule "42_common_core/minishell"]
	path = 42_common_core/minishell
	url = https://github.com/Milsonyujiaoki/minishell.git
[submodule "42_common_core/philosophers"]
	path = 42_common_core/philosophers
	url = https://github.com/Milsonyujiaoki/philosophers.git
[submodule "42_common_core/push_swap"]
	path = 42_common_core/push_swap
	url = https://github.com/Milsonyujiaoki/push_swap.git
[submodule "42_common_core/so_long"]
	path = 42_common_core/so_long
	url = https://github.com/Milsonyujiaoki/so_long.git
[submodule "42_common_core/webserv"]
	path = 42_common_core/webserv
	url = https://github.com/Milsonyujiaoki/webserv.git
[submodule "42_common_core/cpp_modules"]
	path = 42_common_core/cpp_modules
	url = https://github.com/Milsonyujiaoki/cpp_modules.git
